<!--Header-->
<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
    <!-- Sidenav Toggle Button-->
@*     <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>*@
    
    <!-- Navbar Brand-->
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="@Url.Action("HomePage", "Home")">NEXUS SNEAKER</a>
    <!-- Navbar Category-->
    <ul class="navbar-nav align-items-center ms-auto">
        <!-- Categories -->
        <li class="nav-item dropdown no-caret d-none d-md-block me-3">
            <a class="nav-link"><div class="menu-bar">ADIDAS</div></a>
        </li>
        <li class="nav-item dropdown no-caret d-none d-md-block me-3">
            <a class="nav-link"><div class="menu-bar">NIKE</div></a>
        </li>
        <li class="nav-item dropdown no-caret d-none d-md-block me-3">
            <a class="nav-link"><div class="menu-bar">MLB</div></a>
        </li>
        <li class="nav-item dropdown no-caret d-none d-md-block me-3">
            <a class="nav-link"><div class="menu-bar">PUMA</div></a>
        </li>
        <li class="nav-item dropdown no-caret d-none d-md-block me-3">
            <a class="nav-link"><div class="menu-bar">GIÀY NAM</div></a>
        </li>
        <li class="nav-item dropdown no-caret d-none d-md-block me-3">
            <a class="nav-link"><div class="menu-bar">GIÀY NỮ</div></a>
        </li>
    </ul>
    <!-- Navbar User-->
    <ul class="navbar-nav align-items-center ms-auto">
            <!-- Carts Dropdown-->
            <li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="shopping-cart"></i></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownAlerts">
                    <h6 class="dropdown-header dropdown-notifications-header">
                    <i class="me-2" data-feather="shopping-cart"></i>
                        Giỏ hàng
                    </h6>
                    <div class="dropdown-item dropdown-notifications-item">
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-details"></div>
                            <div class="dropdown-notifications-item-content-text">Bạn chưa có đơn hàng nào</div>
                        </div>
                    </div>

                    <a class="dropdown-item dropdown-notifications-footer" href="@Url.Action("Cart", "Shoping")">Xem tất cả đơn hàng</a>
                </div>
            </li>
            <!-- User Dropdown-->
            <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="/assets/img/account/profile/profile_16_20230823_054041.jpg" /></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img" src="/assets/img/account/profile/profile_16_20230823_054041.jpg" />
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">Quang Linh</div>
                            <div class="dropdown-user-details-email">linhdq@gmail.com</div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("account-profile", "Account")">
                        <div class="dropdown-item-icon"><i data-feather="user"></i></div>
                        Tài khoản
                    </a>
                    <a class="dropdown-item" href="@Url.Action("login-admin", "Account")">
                        <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                        Đăng xuất
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown me-3 me-lg-4">
                <a class="login-container" href="@Url.Action("login", "Account")">Đăng nhập</a>
            </li>
    </ul>
</nav>